#mobile{
    width:100%;
}
html{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

li{
    margin:1rem 0;
    position:relative;
    line-height:1.2rem;
    
}

#email{
    width:100%;
    color:white;
    box-sizing:border-box;
    padding:1rem;
    border-radius:10px;
    margin-top:0.4rem;
    background-color:white;
    color:black;
}

::-webkit-input-placeholder{
    color:grey;
}

button{
    width:100%;
    padding:1rem;
    margin-top:1rem;
    border-radius:5px;
    color:white;
    background-color:black;
    outline:none;
    border:none;
}

ul{
    padding-left:1.5rem;
    padding-top:0.2rem;
    padding-bottom:0.5rem;
}
.container{
    
    margin:2rem;
}